@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css";

@theme {
  /* --color-primary-600: #000550; blue */
  --color-primary-600: #052f4a;
  /* --color-primary-600: #ff8904; */
  --color-primary-400: #d09870;
  --color-background: #24252d;
}
/* globals.css */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #242429;
  /* background-color: #27272a; */
  border-radius: 9999px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #f1f5f9;
}
