@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css";

@theme {
  /* --color-primary-600: #000550; blue */
  --color-primary-600: #052f4a;
  /* --color-primary-600: #ff8904; */
  --color-primary-400: #d09870;
  --color-background: #24252d;
}
::-webkit-scrollbar {
  width: 4px !important;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}
::-webkit-scrollbar-thumb {
  background: #024a70 !important;
  border-radius: 2px;
}
/* .scrollbar-thin::-webkit-scrollbar {
  width: 6px !important;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #3f3f46 !important;
  border-radius: 9999px !important;
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #52525b !important;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background-color: transparent !important;
} */
